*{
    margin: 0px;
    padding: 0px;
}

#top-header{
    display: flex;
    background-color: #081f49;
    height: 100%;
    width: 100%;
    justify-content: flex-start
}

#logo-image{
    height: 90px;
    width: 90px;
}

#heading{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    margin-top: 30px;
}

#img-container{
    height: 800px;
    width: 1265px;
    background-image: url("grp-img.jpg");
    background-size: cover;
}

.text-overlay {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    text-align:justify;
    background-color: rgba(8, 31, 73, 0.5); 
    padding: 10px;
    border-radius: 5px;
}

#read-more-link{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: medium;
    font-family: cursive;
}

#hiring-div{
    margin-top: 25px;
    height: 50px;
    width: 1265px;
    display: flex;
    justify-content: center;
}

#hiring-link {
    color: red;
    font-size: 25px;
    font-weight: bolder;
    position: relative; 
    animation: moveLink 3s infinite alternate; 
}

@keyframes moveLink {
    0% {
        left: 0px; 
    }
    50% {
        left: 20px; 
    }
    100% {
        left: 0px;     }
}

#maindiv{
    height: auto;
    width: 1265px;
    display: flex;
    justify-content: space-evenly;
    background-color: #191970;
}

#about-us-div{
    background-color: #353e65; 
    margin-top: 10px;
    height: auto;
    width: 600px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

#service-div {
    background-color: #353e65;
    margin-top: 10px;
    height: auto;
    width: 600px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

#maindiv3{
    height: auto;
    width: 1265px;
    display: flex;
    flex-direction: column;
}

#ourevents{
    background-color: #191970;
    color: white;
    text-decoration: underline;
    font-family: cursive;
}

#vedanta {
    padding : 10px;
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

#dtba {
    padding:10px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

#cansupport {
    padding:10px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

.eventimg {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

.event_text {
    text-align: left;
    max-width: 1000px;
    color: black;
    font-size: 17px;
}

.event_name{
    text-decoration: underline;
    text-align: left;
    color: #191970;
    font-family: cursive;
}

footer {
    background-color: #081f49;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a {
    color: #71a6d2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
} */

#maindiv2 {
    height: auto;
    width: 1265px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    min-height: 100vh; 
}

#gallery-div {
    margin-top: 10px;
    height: 204px;
    width: 1265px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-left: 20px;
}

.img {
    border: 2px white solid;
    height: 200px;
    width: 200px;
}

footer {
    background-color: #081f49;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: auto; 
    width: 100%; 
}

footer a {
    color: #71a6d2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
